<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.goscioo.c500.c500xposedbutonremap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
        <meta-data
            android:name="xposeddescription"
            android:value="Allows to change MODE button app list for Ownice C500 Android HU" />


    </application>



</manifest>
